:root {
  --bg-color: #050505;
  --text-color: #ffffff;
  --accent-color: #e60000;
  --border-color: #333333;
  --muted-color: #666666;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050505;
  color: var(--text-color);
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;

  z-index: -2;
}

/* 暗いフィルター */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.162);

  z-index: -1;
  pointer-events: none;
}

/* グラデーション */
body::after {
  content: "";
  position: fixed;
  inset: 0;

  background: linear-gradient(
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.8)
  );

  z-index: -1;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
